<div class="row">
  <div class="col-md-6">
    <h2>Add New Post</h2>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="title-new-post">Title:</label>
        <input class="form-input" type="text" id="title-new-post" />
      </div>
      <div class="form-group">
        <label for="content-new-post">Content:</label>
        <input class="form-input" type="text" id="content-new-post" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="createPost">Create</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/addpost.js"></script>