<div class="row">
    <div class="row md-12 blog-header-no-border form-width-header">
        <h2 class="col-md-12 blog form-width">Edit Post</h2>

        <form class="form edit-form m-4">
            <div class="form-group">
                <label for="edit-title">Title:</label>
                <input class="form-input" type="text" id="edit-title" value="{{post.blog_name}}"/>
            </div>
            <div class="form-group">
                <label for="edit-text">Text:</label>
                <input class="form-input height" type="text" id="edit-text" value="{{post.blog_post}}"/>
            </div>
            <div class="button-format">
                <button id="updateButton" class="btn btn-primary" type="click" data-id="{{post.id}}">Update</button><br>
                <button id="deleteButton" class="btn btn-primary" type="submit" data-id="{{post.id}}">Delete</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/editpost.js"></script>