<!-- Loop over each object in the blog array -->
{{#each blogs as |blog| }}
<div class="row mb-4 blog">
  <h2>
    <a href="/post/{{blog.id}}">{{blog.blog_name}}</a>
  </h2>

  <div class="col-md-5 blog">
    <p>{{format_date blog.date_created}}</p>
  </div>
</div>
{{/each}}